<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../Content/MyStyle.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.3.1.min.js"></script>
     <script src="../Scripts/Helper.js"></script>
</head>
<body>

    <h1>
        ToDo Application
    </h1>
    <input type="text" placeholder="Task" id="tbTask" class="TextBox"/>
    <input type="button" id="btAdd" class="addBtn" onclick="addClick()" value="Add" />
    <table id="taskTable"></table>
    <input type="hidden" id="taskId" value="0" />

   
</body>
</html>